<head>
    <title>Първи сайт</title>
    <link href ="style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type = "image/jpg" href="faac-logo.png">
</head>
<body>
    <header>
        <img class="logo" src="faac-logo.png" alt="logo">
    </header>
<nav class = "menu navbar ">
    <a href = "index.html">Начало</a>
    <a>Системи</a>
    <a href = "balkan-park.html">Балкан Парк</a>
    <a>Услуги</a>
    <a>Контакти</a>
</nav>
</body>
