
#grad1 {
  background-size: 100% 100%;
 background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
body{
	background-image: linear-gradient(to bottom, #aeb6bf, #eee8d0);
	background-attachment: fixed;
	font-family: sans-serif;
}
html, body {margin:0px; 
				padding:0px;
				height:100%;
	}
	
	div {padding:0px; 
			text-align:center;
			font-family: Verdana;
			font-size: 15px;
			font-weight:bold;
			line-height:40px;
	}
	
	#header, #footer {
		background-color: #c0c0c0;
		weight: 100%;
		height:5%;
		clear: both;
	}
	
	#menu {
		background-color: red;
		color:white;
		weight: 20%;
		height:90%;
		float:right;
	}
	
	


.navbar {
width: 132px;
}

.navbar ul {
margin: 0;
padding: 0;
list-style-type: none;
font-family: verdana, arial, sanf-serif;
font-size: 12px;
}
.navbar li {
margin: 2px 0 0;
}
.navbar a {
display: block;
width:120px;
padding: 2px 2px 2px 10px;
border: 1px solid #000000;
background: #dcdcdc;
text-decoration: none; 
}
.navbar a:link, .navbar a:active, .navbar a:visited {
color: #000000;
}

.navbar a:hover {
border: 1px solid #000000;
background: #333333;
color: #ffffff;
text-decoration: underline;
text-decoration-color: blue;
}
label {
  color: red;
}	background-color: green;
</style>